.navbar {
  margin-top: 0px;
  background-color: $white;
  ul {
    @extend %centeredBlock;
    @extend %overflow;
    margin-top: 0px;
    padding-top: 40px;
    list-style: none;
    background: $white;
    width: 60%;
    li {
      display: inline;
      margin: 2%;
      color: $textGray;
    }
    .title {
      @include text(3em, bold, $letter-spacing: 2px, $color:black);
    }
  }
  #menuLink {
    @include position(relative, null null 50px 43%);
    @include text($weight:bold, $color: $spacePurple);
    // &:hover {
    //   letter-spacing: 2px;
    //   border: 1px solid rgba(#fff, 0);
    //   backface-visibility: hidden;
    //   transition: all 280ms ease-in-out;
    //   -webkit-transition: letter-spacing .3s linear;
    // }
  }
  @media screen and #{$fullWidth} {
    li:nth-child(odd) {
      display: none;
    }
  }
  @media screen and #{$mobile} {
    display: none;
  }
}

.mobileNav {
  display: none;
  overflow: auto;
  width: 100%;
  padding: 1em 2em;
  p {
    @include text(2.5em, bold, $letter-spacing: 2px, $color:black);
    float: left;
    margin: 0;
  }
  a {
    @include text($weight: bold, $color: $spacePurple);
    @include padding(1.5% 4%);
    border: 1.5px solid $spacePurple;
    box-shadow: 2px 2px 2px grey;
    border-radius: 10%;
    float: right;
    margin-top: .6em;
    &:hover {
      background: shade($spacePurple, 30%);
      color: white;
    }
  }
  @media screen and #{$mobile} {
    display: inline-block;
  }
}

#menuLink {
    letter-spacing: 0;
}

#menuLink:hover,
#menuLink:active {
  letter-spacing: 5px;
}

#menuLink:after,
#menuLink:before {
  backface-visibility: hidden;
  border: 1px solid rgba($spacePurple, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

#menuLink:hover:after,
#menuLink:hover:before {
  backface-visibility: hidden;
  border-color: $spacePurple;
  transition: width 350ms ease-in-out;
  width: 10%;
}

#menuLink:hover:before {
  bottom: auto;
  top: 0;
  width: 10%;
}


.menu {
  text-align: left;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 4%;
  ul {
    padding-left: 0;
    margin-right: 4.5em;
    line-height: 30px;
  }
  li {
    list-style-type: none;
  }
  h3 {
    border-bottom: 2px solid black;
    width: 80%;
  }
}
